.background-lighter {
    background-color: #BCB88A;
}

.background-head {
    background-color: #A7A88A;
}

.background-foot {
    background-color: #474241;
}

.img-size {
    height: 100%;
    width: 100%
}